* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    margin: 10px;
    padding: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: space-between;
}

.ulHeader {
    display: flex;
    width: auto;
    justify-content: end;
    list-style: none;
}

.liHeader {
    margin-left: 30px;
}

.aHeader {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.aHeader:hover {
    transition: 0.2s;
    font-size: 22px;
    cursor: pointer;
}

.tituloHeader {
    display: flex;
    flex-direction: row;
}

.iconeHeader {
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.sessaoInserirAtividade {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}

.containerInserir {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    width: auto;
    height: auto;
}

.tituloFormulario {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.labelFormulario {
    margin: 1%;
    font: 20px;
}

.inputFormulario {
    margin-bottom: 10%;
    width: 500px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    background-color: azure;
    border: 1px solid gray;
}

.botaoEnviar {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 50px;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    background-color: azure;
    border: 1px solid gray;
    cursor: pointer;
}


footer {
    padding: 50px 0 50px 0;
}

.footerTexto {
    display: flex;
    justify-content: center;
    color: #21243D;
    font-size: 14px;
    margin-top: 10px;
}

.sessaoMural {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tituloMural {
    display: flex;
    justify-content: center;
}

.muralAtividades {
    margin-top: 10px;
    padding: auto;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.botaoAlterar,
.botaoRemover {
    width: 130px;
    height: 30px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: azure;
    border: 1px solid gray;
    cursor: pointer;
}

.botaoRemover:hover {
    background-color: red;
}

.botaoAlterar:hover {
    background-color: green;
}

.atividadeNoMural {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.atividadeNoMural.concluida {
    color: green;
}

@media screen and (max-width: 1200px) {
    .ulHeader {
        display: none;
    }

    .inputFormulario {
        margin-bottom: 10%;
        width: 300px;
        height: 50px;
        padding: 10px;
        border-radius: 20px;
        background-color: azure;
        border: 1px solid gray;
    }

    .muralAtividades {
        margin: 10px;
        padding: auto;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    * {
        font-size: 15px;
    }

}